Excalibur/config/BreakpointConfig.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://3gbywork.github.io/schema/BreakpointConfig.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Breakpoints">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Breakpoint">
          <xs:complexType>
            <xs:attribute name="Filename" type="xs:string" use="required" />
            <xs:attribute name="Description" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>