Excalibur/config/ConsoleConfig.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://3gbywork.github.io/schema/ConsoleConfig.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Agents">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Agent">
          <xs:complexType>
            <xs:attribute name="Alias" type="xs:string" use="required" />
            <xs:attribute name="Name" type="xs:string" use="required" />
            <xs:attribute name="Path" type="xs:string" use="required" />
            <xs:attribute name="Param" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>